

html, body{
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    background-color: rgb(20, 19, 19);
    padding: 2%;
   /* color: beige; */
   
    color: rgba(255, 217, 0, 0.932);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    line-height: 3rem;


}


.container {
    display: flex;
    gap: 5%;
    background-color: rgba(255, 217, 0);
    border-bottom: 10px double rgb(20, 19, 19);
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    color: black;
    z-index: 2;
    font-style:oblique;
    flex: 1;

}

.features {
    display: flex;
    justify-content: space-evenly;
    margin: auto 5%;
    width: 100%;
    font-size: larger;
    order: 1;
  
}

.features > div{
    padding: 5px 2%;
}

.features div:nth-child(1){
    display: none;
}

.logo-and-minimize-button {
    display: flex;
    gap: 10%;
    margin: auto 2%;
    padding: 3px;
    /*flex-shrink: 3;
    flex-grow: 2;
    flex-basis: 300px; */
}


#min-btn{
    margin: auto;
    order: 2;
    position: fixed;
    left: 88%;
    top: 3%;
    /* display: none; */

}

.content {
    padding-top: 100px;
    text-align: justify;
}

#menu-bar {
    width: auto;
    background-color: rgba(255, 217, 0, 0.932);
    color: rgb(20, 19, 19);
    padding: 150px 70px;
    text-align: justify;
    font-size: x-large;
    font-weight: bold;
    line-height: 4rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 5%;
    z-index: 1;
    display: none;
    transition: 1s;
}

#menu-bar div:nth-child(1){
    position: fixed;
    font-size: xx-large;
    left: 180px;
    top: 130px;
    color: black;
    

}



footer{
    margin-top: 1%;
    background-color: rgba(255, 217, 0, 0.322);
    border-radius: 70%  45%;
    color: rgb(20, 19, 19);
   }
   h4{
    text-align: center;
    font-size: larger;
   }
   

   .fab{
    color: rgb(20, 19, 19);
    font-size: xx-large;
    margin-top: 5%;

   }

   .fab:hover{
    color: rgba(255, 217, 0, 0.932);
   }

   .social-icons, .address{
    display: flex;
    
    justify-content: center;
    gap: 10%;
    margin: 1% auto 10px;
   }